SGPHOOKAPI/SGPHOOKAPI/SGPHOOKAPI/Connected Services/SGPService/SGPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SGPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pms.sgp.vn/SGPService/SGPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pms.sgp.vn/SGPService/SGPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pms.sgp.vn/SGPService/SGPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" />
      <xsd:import schemaLocation="http://pms.sgp.vn/SGPService/SGPService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGPWebService.DataClass" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISGPService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="ISGPService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxMailerID_InputMessage">
    <wsdl:part name="parameters" element="tns:getmaxMailerID" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxMailerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmaxMailerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:getProvince" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Province_Zones_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Province_Zones" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Province_Zones_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Province_ZonesResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getServiceType_InputMessage">
    <wsdl:part name="parameters" element="tns:getServiceType" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getServiceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServiceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getZoneList_InputMessage">
    <wsdl:part name="parameters" element="tns:getZoneList" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getZoneList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZoneListResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxZone_InputMessage">
    <wsdl:part name="parameters" element="tns:getmaxZone" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getmaxZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmaxZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Policy_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Policy" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Policy_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_PolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Customer_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Customer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Customer_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_CustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Service_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Service" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Service_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Value_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_Value" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_Price_Value_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_Price_ValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPricePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:getPricePolicy" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPricePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPricePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceService_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceService" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceService_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceServiceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceValue_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceValue" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceServiceValue_InputMessage">
    <wsdl:part name="parameters" element="tns:getPriceServiceValue" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPriceServiceValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceServiceValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_calPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:calPrice" />
  </wsdl:message>
  <wsdl:message name="ISGPService_calPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:calPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getUserTrackingProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserTrackingProfile" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getUserTrackingProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserTrackingProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_ToolTracking_InputMessage">
    <wsdl:part name="parameters" element="tns:ToolTracking" />
  </wsdl:message>
  <wsdl:message name="ISGPService_ToolTracking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToolTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMailer_InputMessage">
    <wsdl:part name="parameters" element="tns:getMailer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMailer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getDisitrct_InputMessage">
    <wsdl:part name="parameters" element="tns:getDisitrct" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getDisitrct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDisitrctResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_ChiPhi_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_ChiPhi" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insertSGP_ChiPhi_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSGP_ChiPhiResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCPNT_InputMessage">
    <wsdl:part name="parameters" element="tns:getCPNT" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCPNT_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCPNTResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getSpCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getSpCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerID" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_changeCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:changeCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_changeCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerID" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addChiTietHoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:addChiTietHoaDon" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addChiTietHoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:addChiTietHoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addHoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:addHoaDon" />
  </wsdl:message>
  <wsdl:message name="ISGPService_addHoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:addHoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getHoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:getHoaDon" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getHoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getChiTietHoaDon_InputMessage">
    <wsdl:part name="parameters" element="tns:getChiTietHoaDon" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getChiTietHoaDon_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChiTietHoaDonResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPostOfficeName_InputMessage">
    <wsdl:part name="parameters" element="tns:getPostOfficeName" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPostOfficeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPostOfficeNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserName" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getChiTietHoaDonAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getChiTietHoaDonAll" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getChiTietHoaDonAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChiTietHoaDonAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerIDbyPost_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDbyPost" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerIDbyPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDbyPostResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerGroup" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerIDbyGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDbyGroup" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerIDbyGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDbyGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getDHLplan_InputMessage">
    <wsdl:part name="parameters" element="tns:getDHLplan" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getDHLplan_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDHLplanResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_updateMailerDeliveryDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:updateMailerDeliveryDetail" />
  </wsdl:message>
  <wsdl:message name="ISGPService_updateMailerDeliveryDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateMailerDeliveryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerIDTab4_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDTab4" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerIDTab4_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerIDTab4Response" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerGroupTab4_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerGroupTab4" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerGroupTab4_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerGroupTab4Response" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListSpCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getListSpCustomer" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListSpCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListSpCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListCGChuaNhapDT_InputMessage">
    <wsdl:part name="parameters" element="tns:getListCGChuaNhapDT" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListCGChuaNhapDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListCGChuaNhapDTResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListCGChuaXuatBK_InputMessage">
    <wsdl:part name="parameters" element="tns:getListCGChuaXuatBK" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListCGChuaXuatBK_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListCGChuaXuatBKResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPostOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:getPostOffice" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getPostOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPostOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getZone_InputMessage">
    <wsdl:part name="parameters" element="tns:getZone" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerGroupPMS_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerGroupPMS" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getCustomerGroupPMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerGroupPMSResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListCustomerGroupDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getListCustomerGroupDetails" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getListCustomerGroupDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListCustomerGroupDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMailerCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMailerCustomerList" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMailerCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMailerCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insert_DocumentReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_DocumentReturn" />
  </wsdl:message>
  <wsdl:message name="ISGPService_insert_DocumentReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_DocumentReturnResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_get_DocumentReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:get_DocumentReturn" />
  </wsdl:message>
  <wsdl:message name="ISGPService_get_DocumentReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_DocumentReturnResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_delete_DocumentReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_DocumentReturn" />
  </wsdl:message>
  <wsdl:message name="ISGPService_delete_DocumentReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_DocumentReturnResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_get_DocumentReturnbyPOD_InputMessage">
    <wsdl:part name="parameters" element="tns:get_DocumentReturnbyPOD" />
  </wsdl:message>
  <wsdl:message name="ISGPService_get_DocumentReturnbyPOD_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_DocumentReturnbyPODResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMM_Distances_procGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:getMM_Distances_procGetById" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMM_Distances_procGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMM_Distances_procGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMM_PriceMatrix_procGetPriceData_InputMessage">
    <wsdl:part name="parameters" element="tns:getMM_PriceMatrix_procGetPriceData" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMM_PriceMatrix_procGetPriceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMM_PriceMatrix_procGetPriceDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMM_PriceMatrix_procGetPriceDataDEtails_InputMessage">
    <wsdl:part name="parameters" element="tns:getMM_PriceMatrix_procGetPriceDataDEtails" />
  </wsdl:message>
  <wsdl:message name="ISGPService_getMM_PriceMatrix_procGetPriceDataDEtails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMM_PriceMatrix_procGetPriceDataDEtailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISGPService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/login" message="tns:ISGPService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/loginResponse" message="tns:ISGPService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmaxMailerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getmaxMailerID" message="tns:ISGPService_getmaxMailerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getmaxMailerIDResponse" message="tns:ISGPService_getmaxMailerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getProvince" message="tns:ISGPService_getProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getProvinceResponse" message="tns:ISGPService_getProvince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Province_Zones">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Province_Zones" message="tns:ISGPService_insertSGP_Province_Zones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Province_ZonesResponse" message="tns:ISGPService_insertSGP_Province_Zones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getServiceType" message="tns:ISGPService_getServiceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getServiceTypeResponse" message="tns:ISGPService_getServiceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomer" message="tns:ISGPService_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerResponse" message="tns:ISGPService_getCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZoneList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getZoneList" message="tns:ISGPService_getZoneList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getZoneListResponse" message="tns:ISGPService_getZoneList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmaxZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getmaxZone" message="tns:ISGPService_getmaxZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getmaxZoneResponse" message="tns:ISGPService_getmaxZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Policy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Policy" message="tns:ISGPService_insertSGP_Price_Policy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_PolicyResponse" message="tns:ISGPService_insertSGP_Price_Policy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Customer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Customer" message="tns:ISGPService_insertSGP_Price_Customer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_CustomerResponse" message="tns:ISGPService_insertSGP_Price_Customer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Service">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Service" message="tns:ISGPService_insertSGP_Price_Service_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_ServiceResponse" message="tns:ISGPService_insertSGP_Price_Service_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Value">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_Value" message="tns:ISGPService_insertSGP_Price_Value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_Price_ValueResponse" message="tns:ISGPService_insertSGP_Price_Value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPricePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPricePolicy" message="tns:ISGPService_getPricePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPricePolicyResponse" message="tns:ISGPService_getPricePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceCustomer" message="tns:ISGPService_getPriceCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceCustomerResponse" message="tns:ISGPService_getPriceCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceService">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceService" message="tns:ISGPService_getPriceService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceServiceResponse" message="tns:ISGPService_getPriceService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceValue" message="tns:ISGPService_getPriceValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceValueResponse" message="tns:ISGPService_getPriceValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPriceServiceValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPriceServiceValue" message="tns:ISGPService_getPriceServiceValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPriceServiceValueResponse" message="tns:ISGPService_getPriceServiceValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/calPrice" message="tns:ISGPService_calPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/calPriceResponse" message="tns:ISGPService_calPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getUserTrackingProfile" message="tns:ISGPService_getUserTrackingProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getUserTrackingProfileResponse" message="tns:ISGPService_getUserTrackingProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToolTracking">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/ToolTracking" message="tns:ISGPService_ToolTracking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/ToolTrackingResponse" message="tns:ISGPService_ToolTracking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMailer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getMailer" message="tns:ISGPService_getMailer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getMailerResponse" message="tns:ISGPService_getMailer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDisitrct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getDisitrct" message="tns:ISGPService_getDisitrct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getDisitrctResponse" message="tns:ISGPService_getDisitrct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSGP_ChiPhi">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insertSGP_ChiPhi" message="tns:ISGPService_insertSGP_ChiPhi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insertSGP_ChiPhiResponse" message="tns:ISGPService_insertSGP_ChiPhi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCPNT">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCPNT" message="tns:ISGPService_getCPNT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCPNTResponse" message="tns:ISGPService_getCPNT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/addCustomer" message="tns:ISGPService_addCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/addCustomerResponse" message="tns:ISGPService_addCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getSpCustomer" message="tns:ISGPService_getSpCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getSpCustomerResponse" message="tns:ISGPService_getSpCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerID" message="tns:ISGPService_getCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDResponse" message="tns:ISGPService_getCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/changeCustomer" message="tns:ISGPService_changeCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/changeCustomerResponse" message="tns:ISGPService_changeCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/addCustomerID" message="tns:ISGPService_addCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/addCustomerIDResponse" message="tns:ISGPService_addCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addChiTietHoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/addChiTietHoaDon" message="tns:ISGPService_addChiTietHoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/addChiTietHoaDonResponse" message="tns:ISGPService_addChiTietHoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addHoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/addHoaDon" message="tns:ISGPService_addHoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/addHoaDonResponse" message="tns:ISGPService_addHoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getHoaDon" message="tns:ISGPService_getHoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getHoaDonResponse" message="tns:ISGPService_getHoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChiTietHoaDon">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getChiTietHoaDon" message="tns:ISGPService_getChiTietHoaDon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getChiTietHoaDonResponse" message="tns:ISGPService_getChiTietHoaDon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPostOfficeName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPostOfficeName" message="tns:ISGPService_getPostOfficeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPostOfficeNameResponse" message="tns:ISGPService_getPostOfficeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getUserName" message="tns:ISGPService_getUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getUserNameResponse" message="tns:ISGPService_getUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChiTietHoaDonAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getChiTietHoaDonAll" message="tns:ISGPService_getChiTietHoaDonAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getChiTietHoaDonAllResponse" message="tns:ISGPService_getChiTietHoaDonAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerIDbyPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDbyPost" message="tns:ISGPService_getCustomerIDbyPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDbyPostResponse" message="tns:ISGPService_getCustomerIDbyPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerGroup" message="tns:ISGPService_getCustomerGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerGroupResponse" message="tns:ISGPService_getCustomerGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerIDbyGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDbyGroup" message="tns:ISGPService_getCustomerIDbyGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDbyGroupResponse" message="tns:ISGPService_getCustomerIDbyGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDHLplan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getDHLplan" message="tns:ISGPService_getDHLplan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getDHLplanResponse" message="tns:ISGPService_getDHLplan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateMailerDeliveryDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/updateMailerDeliveryDetail" message="tns:ISGPService_updateMailerDeliveryDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/updateMailerDeliveryDetailResponse" message="tns:ISGPService_updateMailerDeliveryDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerIDTab4">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDTab4" message="tns:ISGPService_getCustomerIDTab4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerIDTab4Response" message="tns:ISGPService_getCustomerIDTab4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerGroupTab4">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerGroupTab4" message="tns:ISGPService_getCustomerGroupTab4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerGroupTab4Response" message="tns:ISGPService_getCustomerGroupTab4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListSpCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getListSpCustomer" message="tns:ISGPService_getListSpCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getListSpCustomerResponse" message="tns:ISGPService_getListSpCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListCGChuaNhapDT">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getListCGChuaNhapDT" message="tns:ISGPService_getListCGChuaNhapDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getListCGChuaNhapDTResponse" message="tns:ISGPService_getListCGChuaNhapDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListCGChuaXuatBK">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getListCGChuaXuatBK" message="tns:ISGPService_getListCGChuaXuatBK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getListCGChuaXuatBKResponse" message="tns:ISGPService_getListCGChuaXuatBK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPostOffice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getPostOffice" message="tns:ISGPService_getPostOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getPostOfficeResponse" message="tns:ISGPService_getPostOffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getZone" message="tns:ISGPService_getZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getZoneResponse" message="tns:ISGPService_getZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerGroupPMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getCustomerGroupPMS" message="tns:ISGPService_getCustomerGroupPMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getCustomerGroupPMSResponse" message="tns:ISGPService_getCustomerGroupPMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListCustomerGroupDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getListCustomerGroupDetails" message="tns:ISGPService_getListCustomerGroupDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getListCustomerGroupDetailsResponse" message="tns:ISGPService_getListCustomerGroupDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMailerCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getMailerCustomerList" message="tns:ISGPService_getMailerCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getMailerCustomerListResponse" message="tns:ISGPService_getMailerCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert_DocumentReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/insert_DocumentReturn" message="tns:ISGPService_insert_DocumentReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/insert_DocumentReturnResponse" message="tns:ISGPService_insert_DocumentReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_DocumentReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/get_DocumentReturn" message="tns:ISGPService_get_DocumentReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/get_DocumentReturnResponse" message="tns:ISGPService_get_DocumentReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_DocumentReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/delete_DocumentReturn" message="tns:ISGPService_delete_DocumentReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/delete_DocumentReturnResponse" message="tns:ISGPService_delete_DocumentReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_DocumentReturnbyPOD">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/get_DocumentReturnbyPOD" message="tns:ISGPService_get_DocumentReturnbyPOD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/get_DocumentReturnbyPODResponse" message="tns:ISGPService_get_DocumentReturnbyPOD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMM_Distances_procGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getMM_Distances_procGetById" message="tns:ISGPService_getMM_Distances_procGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getMM_Distances_procGetByIdResponse" message="tns:ISGPService_getMM_Distances_procGetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMM_PriceMatrix_procGetPriceData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getMM_PriceMatrix_procGetPriceData" message="tns:ISGPService_getMM_PriceMatrix_procGetPriceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getMM_PriceMatrix_procGetPriceDataResponse" message="tns:ISGPService_getMM_PriceMatrix_procGetPriceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMM_PriceMatrix_procGetPriceDataDEtails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/getMM_PriceMatrix_procGetPriceDataDEtails" message="tns:ISGPService_getMM_PriceMatrix_procGetPriceDataDEtails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/getMM_PriceMatrix_procGetPriceDataDEtailsResponse" message="tns:ISGPService_getMM_PriceMatrix_procGetPriceDataDEtails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISGPService" type="tns:ISGPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/ISGPService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmaxMailerID">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getmaxMailerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProvince">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Province_Zones">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Province_Zones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceType">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getServiceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZoneList">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getZoneList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmaxZone">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getmaxZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Policy">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Policy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Customer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Customer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Service">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_Price_Value">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_Price_Value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPricePolicy">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPricePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceService">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceValue">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriceServiceValue">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPriceServiceValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calPrice">
      <soap:operation soapAction="http://tempuri.org/ISGPService/calPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTrackingProfile">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getUserTrackingProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToolTracking">
      <soap:operation soapAction="http://tempuri.org/ISGPService/ToolTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getMailer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDisitrct">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getDisitrct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSGP_ChiPhi">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insertSGP_ChiPhi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCPNT">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCPNT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/addCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getSpCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerID">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/changeCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomerID">
      <soap:operation soapAction="http://tempuri.org/ISGPService/addCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addChiTietHoaDon">
      <soap:operation soapAction="http://tempuri.org/ISGPService/addChiTietHoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addHoaDon">
      <soap:operation soapAction="http://tempuri.org/ISGPService/addHoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHoaDon">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getHoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChiTietHoaDon">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getChiTietHoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostOfficeName">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPostOfficeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChiTietHoaDonAll">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getChiTietHoaDonAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerIDbyPost">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerIDbyPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerGroup">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerIDbyGroup">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerIDbyGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDHLplan">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getDHLplan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMailerDeliveryDetail">
      <soap:operation soapAction="http://tempuri.org/ISGPService/updateMailerDeliveryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerIDTab4">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerIDTab4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerGroupTab4">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerGroupTab4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListSpCustomer">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getListSpCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListCGChuaNhapDT">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getListCGChuaNhapDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListCGChuaXuatBK">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getListCGChuaXuatBK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostOffice">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getPostOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZone">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerGroupPMS">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getCustomerGroupPMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListCustomerGroupDetails">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getListCustomerGroupDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMailerCustomerList">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getMailerCustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_DocumentReturn">
      <soap:operation soapAction="http://tempuri.org/ISGPService/insert_DocumentReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DocumentReturn">
      <soap:operation soapAction="http://tempuri.org/ISGPService/get_DocumentReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_DocumentReturn">
      <soap:operation soapAction="http://tempuri.org/ISGPService/delete_DocumentReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DocumentReturnbyPOD">
      <soap:operation soapAction="http://tempuri.org/ISGPService/get_DocumentReturnbyPOD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMM_Distances_procGetById">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getMM_Distances_procGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMM_PriceMatrix_procGetPriceData">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getMM_PriceMatrix_procGetPriceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMM_PriceMatrix_procGetPriceDataDEtails">
      <soap:operation soapAction="http://tempuri.org/ISGPService/getMM_PriceMatrix_procGetPriceDataDEtails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SGPService">
    <wsdl:port name="BasicHttpBinding_ISGPService" binding="tns:BasicHttpBinding_ISGPService">
      <soap:address location="http://pms.sgp.vn/SGPService/SGPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>