SGPHOOKAPI/SGPHOOKAPI/SGPHOOKAPI/Connected Services/SGPService/SGPService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGPWebService.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGPWebService.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBS_Province">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_Province" nillable="true" type="tns:BS_Province" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_Province" nillable="true" type="tns:ArrayOfBS_Province" />
  <xs:complexType name="BS_Province">
    <xs:sequence>
      <xs:element minOccurs="0" name="BS_Districts" nillable="true" type="tns:ArrayOfBS_District" />
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailers" nillable="true" type="tns:ArrayOfMM_Mailer" />
      <xs:element minOccurs="0" name="MM_PostOffices" nillable="true" type="tns:ArrayOfMM_PostOffice" />
      <xs:element minOccurs="0" name="PhoneCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_Province" nillable="true" type="tns:BS_Province" />
  <xs:complexType name="ArrayOfBS_District">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_District" nillable="true" type="tns:BS_District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_District" nillable="true" type="tns:ArrayOfBS_District" />
  <xs:complexType name="BS_District">
    <xs:sequence>
      <xs:element minOccurs="0" name="BS_Province" nillable="true" type="tns:BS_Province" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_District" nillable="true" type="tns:BS_District" />
  <xs:complexType name="ArrayOfMM_Mailer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_Mailer" nillable="true" type="tns:MM_Mailer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_Mailer" nillable="true" type="tns:ArrayOfMM_Mailer" />
  <xs:complexType name="MM_Mailer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AcceptTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountBefDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Amt4Comm" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BS_Province" nillable="true" type="tns:BS_Province" />
      <xs:element minOccurs="0" name="BefVATAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionPercent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CostAmt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentPostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStatusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:double" />
      <xs:element minOccurs="0" name="DiscountPercent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DocIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSyncDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdStatusTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUserGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MM_Customer" nillable="true" type="tns:MM_Customer" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetails" nillable="true" type="tns:ArrayOfMM_MailerDeliveryDetail" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetails1" nillable="true" type="tns:ArrayOfMM_MailerDeliveryDetail" />
      <xs:element minOccurs="0" name="MM_PackingListInternalDetails" nillable="true" type="tns:ArrayOfMM_PackingListInternalDetail" />
      <xs:element minOccurs="0" name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="MM_PostOffice1" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="MM_ServiceType" nillable="true" type="tns:MM_ServiceType" />
      <xs:element minOccurs="0" name="MM_Status" nillable="true" type="tns:MM_Status" />
      <xs:element minOccurs="0" name="MailerDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailerTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Money" type="xs:decimal" />
      <xs:element minOccurs="0" name="ParentMailerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethodID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeAcceptID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeRecieverMoneyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceDefault" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceIncludeVAT" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PriceService" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="RangeDistanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeWeightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealWeight" type="xs:double" />
      <xs:element minOccurs="0" name="ReceiveProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverAddressNbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverCountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverDistrictID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecieverRepresenterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordState" type="xs:int" />
      <xs:element minOccurs="0" name="SalesClosingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SenderAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderDistrictID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderRepresenterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThirdpartyCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThirdpartyDocID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThirdpartyPaymentMethodID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VATAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="VATPercent" type="xs:double" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_Mailer" nillable="true" type="tns:MM_Mailer" />
  <xs:complexType name="MM_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DebitObjectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebtDayInMonth" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DistrictID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailers" nillable="true" type="tns:ArrayOfMM_Mailer" />
      <xs:element minOccurs="0" name="MemberOf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_Customer" nillable="true" type="tns:MM_Customer" />
  <xs:complexType name="ArrayOfMM_MailerDeliveryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_MailerDeliveryDetail" nillable="true" type="tns:MM_MailerDeliveryDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_MailerDeliveryDetail" nillable="true" type="tns:ArrayOfMM_MailerDeliveryDetail" />
  <xs:complexType name="MM_MailerDeliveryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConfirmIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsDeliverOver" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSyncDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailer" nillable="true" type="tns:MM_Mailer" />
      <xs:element minOccurs="0" name="MM_Mailer1" nillable="true" type="tns:MM_Mailer" />
      <xs:element minOccurs="0" name="MM_MailerDelivery" nillable="true" type="tns:MM_MailerDelivery" />
      <xs:element minOccurs="0" name="MailerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentFinished" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnReasonID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_MailerDeliveryDetail" nillable="true" type="tns:MM_MailerDeliveryDetail" />
  <xs:complexType name="MM_MailerDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="BS_Employee" nillable="true" type="tns:BS_Employee" />
      <xs:element minOccurs="0" name="BS_Employee1" nillable="true" type="tns:BS_Employee1" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSyncDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveryDetails" nillable="true" type="tns:ArrayOfMM_MailerDeliveryDetail" />
      <xs:element minOccurs="0" name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="MailerCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecordState" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="TripNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_MailerDelivery" nillable="true" type="tns:MM_MailerDelivery" />
  <xs:complexType name="BS_Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCollaborators" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveries" nillable="true" type="tns:ArrayOfMM_MailerDelivery" />
      <xs:element minOccurs="0" name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="MemberOf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGPEmployeeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_Employee" nillable="true" type="tns:BS_Employee" />
  <xs:complexType name="ArrayOfMM_MailerDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_MailerDelivery" nillable="true" type="tns:MM_MailerDelivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_MailerDelivery" nillable="true" type="tns:ArrayOfMM_MailerDelivery" />
  <xs:complexType name="MM_PostOffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BS_Employee1s" nillable="true" type="tns:ArrayOfBS_Employee1" />
      <xs:element minOccurs="0" name="BS_Employees" nillable="true" type="tns:ArrayOfBS_Employee" />
      <xs:element minOccurs="0" name="BS_Province" nillable="true" type="tns:BS_Province" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCollaborator" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveries" nillable="true" type="tns:ArrayOfMM_MailerDelivery" />
      <xs:element minOccurs="0" name="MM_Mailers" nillable="true" type="tns:ArrayOfMM_Mailer" />
      <xs:element minOccurs="0" name="MM_Mailers1" nillable="true" type="tns:ArrayOfMM_Mailer" />
      <xs:element minOccurs="0" name="MM_PostOffice1" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="MM_PostOffices" nillable="true" type="tns:ArrayOfMM_PostOffice" />
      <xs:element minOccurs="0" name="MM_Zone" nillable="true" type="tns:MM_Zone" />
      <xs:element minOccurs="0" name="MemberOf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UMS_tblUserAccountPostOffices" nillable="true" type="tns:ArrayOfUMS_tblUserAccountPostOffice" />
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
  <xs:complexType name="ArrayOfBS_Employee1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_Employee1" nillable="true" type="tns:BS_Employee1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_Employee1" nillable="true" type="tns:ArrayOfBS_Employee1" />
  <xs:complexType name="BS_Employee1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCollaborators" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_MailerDeliveries" nillable="true" type="tns:ArrayOfMM_MailerDelivery" />
      <xs:element minOccurs="0" name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="MemberOf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGPEmployeeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_Employee1" nillable="true" type="tns:BS_Employee1" />
  <xs:complexType name="ArrayOfBS_Employee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_Employee" nillable="true" type="tns:BS_Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_Employee" nillable="true" type="tns:ArrayOfBS_Employee" />
  <xs:complexType name="ArrayOfMM_PostOffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_PostOffice" nillable="true" type="tns:ArrayOfMM_PostOffice" />
  <xs:complexType name="MM_Zone">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_PostOffices" nillable="true" type="tns:ArrayOfMM_PostOffice" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_Zone" nillable="true" type="tns:MM_Zone" />
  <xs:complexType name="ArrayOfUMS_tblUserAccountPostOffice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UMS_tblUserAccountPostOffice" nillable="true" type="tns:UMS_tblUserAccountPostOffice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUMS_tblUserAccountPostOffice" nillable="true" type="tns:ArrayOfUMS_tblUserAccountPostOffice" />
  <xs:complexType name="UMS_tblUserAccountPostOffice">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_PostOffice" nillable="true" type="tns:MM_PostOffice" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UMS_tblUserAccount" nillable="true" type="tns:UMS_tblUserAccount" />
      <xs:element minOccurs="0" name="UserGroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UMS_tblUserAccountPostOffice" nillable="true" type="tns:UMS_tblUserAccountPostOffice" />
  <xs:complexType name="UMS_tblUserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantChangePwd" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfChangePwd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAdm" type="xs:boolean" />
      <xs:element minOccurs="0" name="FGroup" type="xs:boolean" />
      <xs:element minOccurs="0" name="FSpv" type="xs:boolean" />
      <xs:element minOccurs="0" name="FValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MemberOf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MustChangePwd" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PwdNeverExpire" type="xs:boolean" />
      <xs:element minOccurs="0" name="UMS_tblUserAccountPostOffices" nillable="true" type="tns:ArrayOfUMS_tblUserAccountPostOffice" />
      <xs:element minOccurs="0" name="UserGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UMS_tblUserAccount" nillable="true" type="tns:UMS_tblUserAccount" />
  <xs:complexType name="ArrayOfMM_PackingListInternalDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_PackingListInternalDetail" nillable="true" type="tns:MM_PackingListInternalDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_PackingListInternalDetail" nillable="true" type="tns:ArrayOfMM_PackingListInternalDetail" />
  <xs:complexType name="MM_PackingListInternalDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accept" type="xs:boolean" />
      <xs:element minOccurs="0" name="AcceptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AcceptNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSyncDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailer" nillable="true" type="tns:MM_Mailer" />
      <xs:element minOccurs="0" name="MM_PackingListInternal" nillable="true" type="tns:MM_PackingListInternal" />
      <xs:element minOccurs="0" name="MailerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_PackingListInternalDetail" nillable="true" type="tns:MM_PackingListInternalDetail" />
  <xs:complexType name="MM_PackingListInternal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AcceptDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeAccept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeSend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSyncDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_PackingListInternalDetails" nillable="true" type="tns:ArrayOfMM_PackingListInternalDetail" />
      <xs:element minOccurs="0" name="MailerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackingListStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeIDAccept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordState" type="xs:int" />
      <xs:element minOccurs="0" name="SendDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransportObjectID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TripNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupAccept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupLastModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupSend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_PackingListInternal" nillable="true" type="tns:MM_PackingListInternal" />
  <xs:complexType name="MM_ServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailers" nillable="true" type="tns:ArrayOfMM_Mailer" />
      <xs:element minOccurs="0" name="OutsideLine" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_ServiceType" nillable="true" type="tns:MM_ServiceType" />
  <xs:complexType name="MM_Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MM_Mailers" nillable="true" type="tns:ArrayOfMM_Mailer" />
      <xs:element minOccurs="0" name="StatusID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_Status" nillable="true" type="tns:MM_Status" />
  <xs:complexType name="ArrayOfMM_ServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_ServiceType" nillable="true" type="tns:MM_ServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_ServiceType" nillable="true" type="tns:ArrayOfMM_ServiceType" />
  <xs:complexType name="ArrayOfMM_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_Customer" nillable="true" type="tns:MM_Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_Customer" nillable="true" type="tns:ArrayOfMM_Customer" />
  <xs:complexType name="ArrayOfSGP_Price_Policy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Policy" nillable="true" type="tns:SGP_Price_Policy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Policy" nillable="true" type="tns:ArrayOfSGP_Price_Policy" />
  <xs:complexType name="SGP_Price_Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostOfficeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricePolicyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Policy" nillable="true" type="tns:SGP_Price_Policy" />
  <xs:complexType name="ArrayOfSGP_Price_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Customer" nillable="true" type="tns:SGP_Price_Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Customer" nillable="true" type="tns:ArrayOfSGP_Price_Customer" />
  <xs:complexType name="SGP_Price_Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Customer" nillable="true" type="tns:SGP_Price_Customer" />
  <xs:complexType name="ArrayOfSGP_Price_Service">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Service" nillable="true" type="tns:SGP_Price_Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Service" nillable="true" type="tns:ArrayOfSGP_Price_Service" />
  <xs:complexType name="SGP_Price_Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Service" nillable="true" type="tns:SGP_Price_Service" />
  <xs:complexType name="ArrayOfSGP_Price_Value">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Value" nillable="true" type="tns:SGP_Price_Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Value" nillable="true" type="tns:ArrayOfSGP_Price_Value" />
  <xs:complexType name="SGP_Price_Value">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FW" type="xs:double" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TW" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Zone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Value" nillable="true" type="tns:SGP_Price_Value" />
  <xs:complexType name="ArrayOfSGP_Price_Service_Value">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_Price_Service_Value" nillable="true" type="tns:SGP_Price_Service_Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_Price_Service_Value" nillable="true" type="tns:ArrayOfSGP_Price_Service_Value" />
  <xs:complexType name="SGP_Price_Service_Value">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ConditionApply" type="xs:double" />
      <xs:element minOccurs="0" name="PercentOnPrice" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="Zone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_Price_Service_Value" nillable="true" type="tns:SGP_Price_Service_Value" />
  <xs:complexType name="ArrayOfTools_Tracking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tools_Tracking" nillable="true" type="tns:Tools_Tracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTools_Tracking" nillable="true" type="tns:ArrayOfTools_Tracking" />
  <xs:complexType name="Tools_Tracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Columnname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsCheck" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tools_Tracking" nillable="true" type="tns:Tools_Tracking" />
  <xs:complexType name="ArrayOfSGP_ChiPhi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SGP_ChiPhi" nillable="true" type="tns:SGP_ChiPhi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSGP_ChiPhi" nillable="true" type="tns:ArrayOfSGP_ChiPhi" />
  <xs:complexType name="SGP_ChiPhi">
    <xs:sequence>
      <xs:element minOccurs="0" name="bcchapnhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bcnhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpnt" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="cptt" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ctvphat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuocchinh" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="khachhang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loaihang" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ngaynhan" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="noiden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phuphi" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="quan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tl" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SGP_ChiPhi" nillable="true" type="tns:SGP_ChiPhi" />
  <xs:complexType name="ArrayOfTB_DHLPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_DHLPlan" nillable="true" type="tns:TB_DHLPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_DHLPlan" nillable="true" type="tns:ArrayOfTB_DHLPlan" />
  <xs:complexType name="TB_DHLPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="CG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D_O" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGI" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quatity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SenderAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiptoAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiptoNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToNodeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongSL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_DHLPlan" nillable="true" type="tns:TB_DHLPlan" />
  <xs:complexType name="ArrayOfMM_CustomerGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MM_CustomerGroup" nillable="true" type="tns:MM_CustomerGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMM_CustomerGroup" nillable="true" type="tns:ArrayOfMM_CustomerGroup" />
  <xs:complexType name="MM_CustomerGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM_CustomerGroup" nillable="true" type="tns:MM_CustomerGroup" />
</xs:schema>